 <ul>
     <li><a href="http://localhost:3005/home">home</a></li>
     <li><a href="http://localhost:3005/formulario">formulario</a></li>
     <li><a href="http://localhost:3005/listar">listar</a></li>
       <li><a href="http://localhost:3005/editar">editar</a></li>
 </ul>